@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutClient2.cshtml";
}
<main aria-labelledby="title">
    <address>
        <H2>Thông tin liên hệ cho chúng tôi</H2>
        <br />
        <h4>Địa chỉ: 600 Bình Thới</h4>
        <br />
        <abbr title="Phone">Số điện thoại:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>